/* Error: Undefined mixin.
 *    ,
 * 24 |         &[data-phase="menstrual"] { @include pill-theme(menstrual); }
 *    |                                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss/layout/_context.scss 24:37  @use
 *   scss/main.scss 15:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 24 \2502          &[data-phase="menstrual"] { @include pill-theme(menstrual); }\a    \2502                                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss/layout/_context.scss 24:37  @use\a   scss/main.scss 15:1              root stylesheet';
}
